/* Variables */
:root {
  --black-1: rgb(41, 41, 41);
  --white-1: rgb(255, 255, 255);
  --blue-1: rgb(0, 68, 255);

  --button-transition: .1s ease-in-out;
  --in-text-link-transition: .18s ease-in-out;
}


/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

body {
  font-size: 62.5%; /* 1rem = 10px conversion */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black-1);
  line-height: 1.4;
  letter-spacing: .09rem;
  overflow: hidden; /* no scroll bar (1 section = 1 page effect) */
}

/* Elements */
a,
a:link,
a:visited {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

h2 {
  font-size: 2.2rem;
  font-weight: 300;
}

p {
  font-size: 1.2rem;
}

form {
  padding-top: 1.5rem;
}

input,
textarea {
  display: block;
  font-size: 1rem;
  width: 100%;
  padding: .75rem .5rem;
  outline: none;
}

input {
  margin-bottom: .3rem;
}

textarea {
  font-family: inherit;
  height: 7rem;
  resize: none;
  margin-bottom: .5rem;
}


/* Sections */
.nav-bar,
.footer {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.nav-bar {
  top: 6%;
}

.footer {
  bottom: 4%;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}

.about {
  text-align: left;
}

.about-header {
  padding-bottom: 1.5rem;
}

.about-profile {
  padding-bottom: 2.5rem;
  line-height: 1.6;
}

.contact {
  min-width: 43%;
  max-width: 80%;
}


/* Classes */
.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  padding: .75rem 2.3rem;
  background: transparent;
  border: .05rem var(--black-1) dashed;
  border-radius: .25rem;
  outline: none;
  transition: var(--button-transition);
}

.btn:hover {
  border-style: solid;
  box-shadow: .2rem .3rem .6rem var(--black-1);
  transform: translateY(-.2rem);
}

.btn:active {
  border-style: solid;
  box-shadow: .1rem .2rem .3rem var(--black-1);
  transform: translateY(-.05rem);
}

.nav-link,
.footer-link {
  color: var(--black-1);
  font-weight: 700;
}

.nav-link {
  margin: 0 .2rem;
}

.footer-link {
  margin: 0 .5rem;
}

.link-icon {
  vertical-align: middle;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.current,
.current:hover,
.current:active {
  color: var(--white-1);
  background: var(--black-1);
  border-style: solid;
  box-shadow: none;
  cursor: not-allowed; 
  transform: none;
}

.in-text-link {
  font-weight: 600;
  color: var(--blue-1);
  border-bottom: .1rem transparent solid;
  transition: var(--in-text-link-transition);
}

.in-text-link:hover {
  padding-bottom: .25rem;
  border-bottom-color: inherit;
}

.contact-btn,
.contact-link {
  color: var(--blue-1);
  background: transparent;
  border-color: inherit;
  border-style: solid;
}

.contact-btn {
  font-weight: 400;
  padding: .7rem 1.7rem;
}

.contact-btn:hover,
.contact-btn:active,
.contact-link:hover,
.contact-link:active {
  color: var(--white-1);
  background: var(--blue-1);
  border-color: var(--blue-1);
}

.footer-link img {
  max-width: 1.8rem;
  max-height: 1.8rem;
}