/* Variables */
:root {
  --black-1: rgb(41, 41, 41);
  --white-1: rgb(255, 255, 255);
  --white-2: rgb(233, 233, 233);
  --blue-1: rgb(0, 50, 187);
  --blue-2: rgb(31, 91, 255);
  --yellow-1: rgba(255, 255, 0, 0.473);

  --overlay-1: rgba(0, 0, 0, 0.932);
  --overlay-2: rgba(255, 255, 255, 0.938);

  --transition-fast: .1s ease-in-out;
  --transition-slow: .3s ease;
  --in-text-link-transition: .18s ease-in-out;
}


/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

html {
  /* fallback for smooth scroll on supported browsers w/out JS */
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%; /* 1rem = 10px conversion */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black-1);
  line-height: 1.4;
  letter-spacing: .09rem;
  overflow: hidden; /* no scroll bar (effect: 1 section = 1 'page') */
}

/* Elements */
a,
a:link,
a:visited {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
}

h2,
h3 {
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1.05rem;
}

input,
textarea {
  display: block;
  font-size: 1rem;
  width: 100%;
  padding: .75rem .5rem;
  outline: none;
}

input {
  margin-bottom: .3rem;
}

textarea {
  font-family: inherit;
  height: 7rem;
  resize: none;
  margin-bottom: .5rem;
}


/* Nav-bar & Footer */
.nav-bar,
.footer {
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.nav-bar {
  top: 4%;
}

.nav-bar label {
  margin-left: 1.5rem;
}

.footer {
  bottom: 3%;
}


/* Sections - all */
.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.content {
  max-width: 620px;
}


/* Projects section */
.card {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem .75rem .75rem;
  border: .05rem var(--black-1) dashed;
  margin-bottom: 1rem;
  transition: all var(--transition-fast);
}

.card:hover {
  border-style: solid;
}

.card-tools {
  position: absolute;
  top: 0;
  right: 0;
  font-size: .8rem;
  font-weight: 600;
  padding: .1rem .3rem;
  background-color: var(--yellow-1);
}

.card h3 {
  font-weight: 600;
}

.card-overlay {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  height: 99%; /* 100% covers part of every 2nd card's border*/
  width: 100%;
  color: var(--white-1);
  background-color: var(--overlay-2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility var(--slow);
}

.card:hover .card-overlay {
  visibility: visible;
}


/* Modal - Contact section */
.modal-state {
  display: none;
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal-content-container {
  top: 0;
}

.modal {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  background-color: var(--overlay-1);
}

.modal-content-container {
  position: absolute;
  top: -20rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  width: 65%;
  height: 68%;
  max-width: 500px;
  max-height: 450px;
  padding: 0 .5rem 1rem;
  background-color: var(--white-1);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-slow);
}

.modal-close-icon {
  position: absolute;
  top: .5rem;
  right: .5rem;
  max-width: 2.6rem;
  max-height: 2.6rem;
  cursor: pointer;
  transition: var(--transition-fast);
}

.modal-close-icon:hover {
  transform: scale(1.12);
}

.contact {
  width: 90%;
}


/* Element classes */
.pd-btm-xl {
  padding-bottom: 2.5rem;
}

.pd-btm-l {
  padding-bottom: 1.5rem;
}

.pd-btm-m {
  padding-bottom: .5rem;
}

.lh-l {
  line-height: 1.65;
}


/* Buttons & links */
.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  padding: .6rem 1.3rem;
  border-width: .05rem;
  border-radius: .25rem;
  outline: none;
}

.nav-link,
.cta-primary {
  transition: var(--transition-fast);
}

.nav-link {
  color: var(--black-1);
  background: var(--white-1);
  border-color: var(--black-1); 
  border-style: dashed;
  margin: 0 .1rem;
}

.nav-link:hover {
  border-style: solid;
  box-shadow: .2rem .3rem .6rem var(--black-1);
  transform: translateY(-.2rem);
}

.nav-link:active {
  border-style: solid;
  box-shadow: .1rem .2rem .3rem var(--black-1);
  transform: translateY(-.05rem);
}

.footer-link {
  margin: 0 .5rem;
}

.in-text-link {
  font-weight: 600;
  color: var(--blue-1);
  border-bottom: .1rem transparent solid;
  transition: var(--in-text-link-transition);
}

.in-text-link:hover {
  padding-bottom: .25rem;
  border-bottom-color: inherit;
}

.cta-primary {
  color: var(--white-1);
  font-weight: 500;
  background: var(--blue-1);
  border-color: var(--blue-1);
  border-style: solid;
}

.cta-primary:hover,
.cta-primary:active {
  background-color: var(--blue-2);
  border-color: var(--blue-2);
}

.cta-secondary {
  color: var(--black-1);
  font-size: 1rem;
  background: transparent;
  border-color: inherit;
  border-style: solid;
  margin: 0 .2rem;
}

.cta-secondary:hover {
  color: var(--white-1);
  background: var(--black-1);
  border-color: var(--black-1);
}

.current,
.current:hover,
.current:active {
  background: var(--white-2);
  border-style: solid;
  border-color: var(--white-2);
  box-shadow: none;
  cursor: not-allowed;
  transform: none;
}

.icon {
  vertical-align: -9%;
  max-width: 1.3rem;
  max-height: 1.3rem;
}

.inline {
  vertical-align: middle;
}

.footer-link img {
  max-width: 1.8rem;
  max-height: 1.8rem;
  background-color: var(--white-1);
}